<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="android.adhoc.manet.ptt"
      android:versionName="1.2" android:versionCode="3">
      
    <uses-sdk android:minSdkVersion="5" />
      
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
      
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".Main"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"
                  android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".settings.CommSettings"
        		android:label="@string/settings_comm_name">        	
        </activity>

        <activity android:name=".settings.AudioSettings"
        		android:label="@string/settings_audio_name">        	
        </activity>
        
        <activity android:name=".groups.CreateGroup"
        		android:label="@string/group_create_name">        	
        </activity>
        
        <activity android:name=".groups.ViewGroups"
        		android:label="@string/groups_view_name">        	
        </activity>
        
        <activity android:name=".groups.ViewGroup"
        		android:label="@string/group_view_name">        	
        </activity>
        
        <activity android:name=".channels.ViewChannel"
        		android:label="@string/channel_view_name">        	
        </activity>
        
	    <service android:name=".service.ConnectionService"
	        	android:exported="false"
	        	android:enabled="true">
        </service>   
	</application>    

</manifest> 